<h1 class=text-center>All Blocmarks <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1>
<div class="media">
  <div class="media-body">
    <% @topics.each do |topic| %>
        <h3 class="media-heading">
           <%= link_to "#" + topic.title, topic %>
        </h3>
        <% if topic.bookmarks.empty? %>
           <p class="text-center"> No Bookmarks added yet. </p>
        <% end %>
       <div class="row">
       <% topic.bookmarks.each do |bookmark| %>
        <div class="col-sm-3">
          <p class="media-heading, img-thumbnail text-center">
            <%= bookmark.url %>
          </p>
          <div class="text-center">
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          </div>
        </div>
       <% end %>
       </div>
    <% end %>
  </div>
</div>
