<h1 class=text-center>All Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1>
<div class="media">
  <div class="media-body">
    <% @topics.each do |topic| %>
        <h3 class="media-heading text-center">
           <%= link_to topic.title, topic %>
        </h3>
        <% if topic.bookmarks.empty? %>
           <p class="text-center"> No Bookmarks added yet. </p>
        <% end %>
       <div class="row">
       <% topic.bookmarks.each do |bookmark| %>
        <div class="col-sm-3">
            <p><%= render partial: 'bookmarks/thumbnail', locals: { bookmark: bookmark } %></p>
            <div>
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
        </div>
       <% end %>
       </div>
    <% end %>
  </div>
</div>
