// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bookmark-box {
  position: relative;
  max-width: 300px;
  height: auto;
  background: #EAE6DA;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
